temp/caches
temp/compiled
temp/query_caches
temp/static_caches
mobile/temp/caches
mobile/temp/compiled
mobile/temp/query_caches
mobile/temp/static_caches
mobile/data/caches
mobile/data/compiled
mobile/data/query_caches
mobile/data/static_caches
data/config.php
.DS_Store
.idea
sql
33$goodslist$goodslist$goodslist.txt
supplier.png
qrcode.png
